.parent {
    /* position: relative; */
    height: 30rem;
    width: 30rem;
    background-color: blue;
}

.div1 {
    background-color: rgb(0, 0, 150);
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: 0;
    right: 0;
}

.div2 {
    margin-top: 20px;
    background-color: rgb(0, 0, 150);
    height: 10rem;
    width: 10rem;
}